
  *{
      box-sizing: border-box;
  }

 /* header section  */
header{
    background: url(./blue.jpg.jpg); 
    text-align: center; 
    margin: 0;
    padding: 0; 
}
.mero{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    padding-bottom: 2rem;
}
.heading{
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    top: 1.5rem;
} 
  
.container{
    background: url(./background.jpg);

    height: 100%;
}

                 /* navbar section  */



.navbar{
    background-color: black;
    display: flex;
    flex-direction: column;  
} 
.navbar ul li{
    display: inline;
    list-style: none;
    margin: 2rem;
} 
  a{
    text-decoration: none;
    color: white;
}  
.navbar ul li a:hover{
    color: yellow;
} 
    
.btn{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: blue;
    display: inline-flex;
    float: right;
    margin-right: 30px;
    font-size: 1.2rem;
    border-radius: 20px;
}
.btn:hover{
    background-color:blueviolet ;
}

            /* home section  */
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }
              #C{
                  color: rgb(61, 26, 214);
                  font-style: italic;
                  font-weight: bold;
                  font-size: 1.2rem;
              }
              .pcolor{
                  color: rgb(24, 16, 16);
                  font-size: 1.2rem;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }


           /* service section  */
.s{
     font-size: 2rem;
     color: orange;
     text-align: center;
     margin-top: 1.5rem;
     font-weight: bold;
     font-family: monospace;
}
 #Serives{
     overflow: auto;
     display: inline-flex;
     flex-direction: row;
 }
.first{
    display: inline-flex;
    background-color: #0b0652;
    color: white;
    border-radius: 20px;
     height: 20rem;
     width: 20rem; 
     margin: 2rem 2px 2px 3rem;
     font-size: 3rem; 
     align-items: center;  
     justify-content: center;  
 } 

 .second{
    display: inline-flex;
    background-color: #f30932;
    border-radius: 20px;
    color: white;
     height: 20rem;
     width: 20rem; 
    margin: 2rem 2px 2px 3rem;
    font-size: 3rem; 
    align-items: center; 
    justify-content: center;    
}   
.third{
    display: inline-flex;
    background-color:green;
    color: white;
    border-radius: 20px;
     height: 20rem;
     width: 20rem; 
    margin: 2rem 2px 2px 3rem;
    font-size: 3rem; 
    align-items: center; 
    justify-content: center;   
}   
.fourth{
    display: inline-flex;
    background-color: orange;
    border-radius: 20px;
    color: white;
     height: 20rem;
     width: 20rem; 
    margin: 2rem 2px 2px 3rem;
    font-size: 3rem;
    align-items: center; 
    justify-content: center;   
} 

            /* about us  */

.aboutus{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(121, 16, 16);
    font-style: inherit;
} 
.detail{
    margin: 2px 2px;
    font-size: 2rem;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}  
.yellow{
    color: rgb(230, 20, 55);
}         
           
            /* login section  */

.section{
    margin-top: 2rem;
    background-image: url(./aesthetic.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    display: inline-flex;
    justify-content: center;   
}
#formsection{
    border-radius: 20px;
    background-color: rgb(8 13 62);
    height: 35rem;
    width: 30rem;
    display: inline-flex; 
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: center;  
    font-size: 1.5rem;
}
.log{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1.5rem;
}
.log label{
    color:white;
    font-style: inherit;
}
.finput{
    font-size: 1.4rem;
}
.gender{
    margin: 0 2px;
    color: white;
    font-style: unset;
}
.fbtn{
    color: white;
    background-color: rgb(120, 26, 209);
    margin-top: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}
.fbtn:hover{
    background-color: rgb(86, 51, 121);
    cursor: pointer;
}

footer{
    background-color: black;
    font-style: initial;
    color: white;
   height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



